#energyDisplay { /* Keeps the energy display inline with the header */
    display: inline;
}

.buttons{ /* Placement of buttons */
    margin-top: 20px; 
}

button { /*Styling to all buttons*/
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #21ba33a7;
    color: white;
}

button:hover { /* Button color on hover */
    background-color: #98691e;
}